# DATABASES
DB_USER=postgres
DB_PWD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_RAW_NAME=ovh_finance_raw
DB_WRHS_NAME=ovh_finance_warehouse

MYSQL_USER=
MYSQL_PWD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB_NAME=

# API
ENDPOINT=
APPLICATION_KEY=
APPLICATION_SECRET=
CONSUMER_KEY=