# DATABASES
DB_RAW_USER=postgres
DB_WRHS_USER=postgres
DB_RAW_HOST=127.0.0.1
DB_WRHS_HOST=127.0.0.1
DB_RAW_PWD=postgres
DB_WRHS_PWD=postgres
DB_RAW_PORT=5432
DB_WRHS_PORT=5433
DB_RAW_NAME=ovh_finance_raw
DB_WRHS_NAME=ovh_finance_warehouse


# API
ENDPOINT=
APPLICATION_KEY=
APPLICATION_SECRET=
CONSUMER_KEY=